<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>商品一覧</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<main>
			<th:block th:if="${ci != null}">
				<form class="category-item" action="/category/edit" method="post" enctype="multipart/form-data">
					<input type="hidden" name="cateId" th:value="${ci.get().id}">
			</th:block>
			<th:block th:if="${ci == null}">
				<form class="category-item" action="/category/add" method="post" enctype="multipart/form-data">
			</th:block>
			<div>
				<label for="cate">カテゴリ名</label>
				<input type="text" id="cate" name="cate" th:value="${ci != null ? ci.get().name : ''}" placeholder="カテゴリ名を入力">
			</div>
			<div>
				<label for="img">
					カテゴリ画像
				</label>
				<input type="file" name="img" id="img">
				<th:block th:if="${ci != null && ci.get().img != null}">
				  <div style="width: 100%; padding-top: 10px;">
					<img th:src="|/img/${ci.get().img}|" alt="カテゴリ画像" style="max-width: 100%; height: auto;">
					<p>上の画像は現在のカテゴリ画像です。<br>画像は変更する場合のみ選択し直してください。</p>
				  </div>
				</th:block>
			</div>
			<button class="btn btn-mod btn-border btn-circle btn-large">登録</button>
		</form>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>