<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>商品詳細</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<main>
		<div class="detail-wrap">
			<div class="detail-img">
				<img th:src="|/img/${detailItem.img}|" alt="">
			</div>
			<div clas="detail-sec">
				<p class="detail-ttl" th:text="${detailItem.name}"></p>
				<p class="detail-price" th:text="'￥' + ${detailItem.price}"></p>
			</div>
			<div class="detail-form">
				<form action="/cart/add" method="post">
					<input type="hidden" name="itemId" th:value="${detailItem.id}">
					<div>
						<label for="quantity">数量：</label>
						<select id="quantity" name="quantity">
							<option th:each="i : ${#numbers.sequence(1,30)}" th:text="${i}" th:value="${i}"></option>
						</select>
					</div>
					<button class="btn btn-mod btn-border btn-circle btn-large">カートに追加</button>
				</form>
			</div>
			<div class="detail-txt">
				<p>商品説明</p>
				<p class="detail-txt-p" th:text="${detailItem.txt}"></p>
			</div>
			<!-- <ul>
				<li>NO</li>
				<li>商品名</li>
				<li>値段</li>
				<li></li>
			</ul>
			<tr>
				<li th:text="${detailItem.id}"></li>
				<li th:text="${detailItem.name}"></li>
				<li th:text="${detailItem.price}"></li>
				<li>
					<form action="/cart/add" method="post">
						<input type="hidden" name="itemId" th:value="${detailItem.id}">
						<select name="quantity">
							<option th:each="i : ${#numbers.sequence(1,30)}" th:text="${i}" th:value="${i}"></option>
						</select>
						<button>カートに追加</button>
					</form>
				</li>
			</tr> -->
		</div>
	</main>
	<hr>
	<footer th:replace="footer"></footer>
</body>
</html>