<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Insert title here</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
			<div class="s-item">
			<div class="item-cate-name" th:if="${cate != null}" th:text="'現在選択しているカテゴリは「 ' + ${items[0].category.name} + ' 」です。'"></div>
			<ul>
				<li>NO</li>
				<li>商品</li>
				<li>商品名</li>
				<li>値段</li>
				<li>リンク</li>
				<li></li>
			</ul>
			<ul th:each="item:${items}">
				<li th:text="${item.id}"></li>
				<li>
					<img th:src="|img/${item.img}|">
				</li>
				<li th:text="${item.name}"></li>
				<li th:text="${item.price}"></li>
				<li><a th:href="@{/items/{itemCode}(itemCode=${item.id})}">詳細</a></li>
				<li>
					<form action="/cart/add" method="post">
						<input type="hidden" name="itemId" th:value="${item.id}">
						<button class="btn btn-mod btn-border btn-circle btn-large">カートに追加</button>
					</form>
				</li>
			</ul>
		</div>
		<footer th:replace="footer"></footer>
</body>
</html>